/* Container da lista de reservas */
.reservation-list {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px; /* Reduzido para melhorar o foco em desktops */
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Tabela de Reservas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #4caf50; /* Cor de destaque mais suave */
  color: white;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  color: #333;
  font-size: 15px;
}

.button {
  padding: 10px 14px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none; /* Cabeçalho da tabela escondido em telas pequenas */
  }

  tr {
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
  }
}

/* Formulário de Edição */
.edit-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.edit-form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-form label {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.edit-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}

.edit-form button {
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.edit-form button:hover {
  background-color: #555;
}

/* Ajustes para telas menores */
@media (max-width: 480px) {
  .edit-form {
    padding: 15px;
  }

  .edit-form input {
    font-size: 14px;
  }

  .edit-form button {
    font-size: 14px;
  }
}
